{% load static i18n %}

<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
   aria-expanded="false">
    <div class="media align-items-center">
<span class="avatar avatar-sm rounded-circle">
  <img alt="Image placeholder" src="{% static 'img/img_user_default.jpg' %}">
</span>
        <div class="media-body ml-2 d-none d-lg-block">
  <span class="mb-0 text-sm  font-weight-bold">
    {{ request.user.username }}
  </span>
        </div>
    </div>
</a>
<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
    <a href="{% url 'logout' %}" class="dropdown-item">
        <i class="fas fa-share text-gray"></i>
        <span>{% trans 'logout'|capfirst %}</span>
    </a>
</div>