/*  START - UPDATE FONT SIZE  */
.table .thead-light th {
    font-size: 92% !important;;
}

.table th, .table td {
    font-size: 100% !important;;
}

.dropdown-menu .dropdown-item {
    font-size: 0.9rem !important;
}
/*  END - UPDATE FONT SIZE  */

/*  START - GENERAL  */
.hidden_element {
    display: none !important;
}

.errorlist > li {
    color: #e84641 !important;
    margin-top: 5px;
}

.form-group {
    margin-bottom: 20px !important;
}


.field_required {
    color: red;
    font-size: 100%;
    display: inline
}

.enable {
    border-radius: 2rem;
    color: #ffffff;
    background: #0abb87;
    height: 0;
    width: auto;
    padding: 0.75rem 0.75rem;
}

.disable {
    border-radius: 2rem;
    color: #ffffff;
    background: #fd397a;;
    height: 0;
    width: auto;
    padding: 0.75rem 0.75rem;
}

.table-responsive {
    min-height: 350px !important;
}
/*  END - GENERAL  */

/*  MENU  */
.active {
    color: rgb(94 114 228)!important;
}

/*  MENU  */

/*  START - MODALS  */
.section_page_modal {
    background-color: #889aff;
    height: 50px;
}

.section_title_modal {
    display: inline-block;
    color: #ffffff;
}
/*  END - MODALS  */

/*  START - SECTION PAGE  */
.section_page {
    background-color: #ececec;
    height: 50px;
}

.section_title {
    display: inline-block;
    color: #53536d;
}

.section_option {
    display: inline-block;
    clear: both;
    float: right;
}
/*  END - SECTION PAGE  */

.first_item_detail {
    list-style: none;
    border: 0.2pt solid #e3e6f0 ;
    padding: .75rem;
    font-size: 115%;
    height: 40px;
}
.item_detail {
    list-style: none;
    border-width: 0 0.2pt 0.2pt 0.2pt;
    border-style: solid;
    border-color: #e3e6f0;
    padding: .75rem;
    font-size: 115%;
    height: 40px;
}

.item_detail__b {
    font-weight: 600 !important;
    display: inline-block;
    margin-right: 6px;
}

.item_details_p {
    display: inline-block;
}

#id_captcha_1 {
    width: 60% !important;
    border: none;
    padding-left: 1.5rem;
    color: #a7abc3 !important;
}
