@charset "UTF-8";

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #5867dd;
    --secondary: #e1e1ef;
    --success: #1dc9b7;
    --info: #5578eb;
    --warning: #ffb822;
    --danger: #fd397a;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1399px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff;
}

select.form-control[size], select.form-control[multiple] {
    height: auto;
}

.was-validated .custom-select:valid, .custom-select.is-valid {
    border-color: #1dc9b7;
    padding-right: calc((1em + 1.3rem) * 3 / 4 + 2rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%231dc9b7' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 2rem/calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
}

.was-validated .custom-select:valid:focus, .custom-select.is-valid:focus {
    border-color: #1dc9b7;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(29, 201, 183, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(29, 201, 183, 0.25);
}

.was-validated .custom-select:valid ~ .valid-feedback,
.was-validated .custom-select:valid ~ .valid-tooltip, .custom-select.is-valid ~ .valid-feedback,
.custom-select.is-valid ~ .valid-tooltip {
    display: block;
}

.was-validated .custom-select:invalid, .custom-select.is-invalid {
    border-color: #fd397a;
    padding-right: calc((1em + 1.3rem) * 3 / 4 + 2rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fd397a' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23fd397a' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") #fff no-repeat center right 2rem/calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
}

.was-validated .custom-select:invalid:focus, .custom-select.is-invalid:focus {
    border-color: #fd397a;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(253, 57, 122, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(253, 57, 122, 0.25);
}

.was-validated .custom-select:invalid ~ .invalid-feedback,
.was-validated .custom-select:invalid ~ .invalid-tooltip, .custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-tooltip {
    display: block;
}

@media (min-width: 576px) {
    .custom-select {
        width: auto;
    }
}

.input-group > .form-control,
.input-group > .form-control-plaintext,
.input-group > .custom-select,
.input-group > .custom-file {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group > .form-control + .form-control,
.input-group > .form-control + .custom-select,
.input-group > .form-control + .custom-file,
.input-group > .form-control-plaintext + .form-control,
.input-group > .form-control-plaintext + .custom-select,
.input-group > .form-control-plaintext + .custom-file,
.input-group > .custom-select + .form-control,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .custom-file,
.input-group > .custom-file + .form-control,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .custom-file {
    margin-left: -1px;
}

.input-group > .form-control:focus,
.input-group > .custom-select:focus,
.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
    z-index: 3;
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-lg > .form-control:not(textarea),
.input-group-lg > .custom-select {
    height: calc(1.5em + 2.3rem + 2px);
}

.input-group-lg > .form-control,
.input-group-lg > .custom-select,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
    padding: 1.15rem 1.65rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.input-group-sm > .form-control:not(textarea),
.input-group-sm > .custom-select {
    height: calc(1.5em + 1rem + 2px);
}

.input-group-sm > .form-control,
.input-group-sm > .custom-select,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.input-group-lg > .custom-select,
.input-group-sm > .custom-select {
    padding-right: 2rem;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 2rem 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1rem center/8px 10px;
    background-color: #fff;
    border: 1px solid #e2e5ec;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select:focus {
    border-color: #7096f6;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25);
}

.custom-select:focus::-ms-value {
    color: #495057;
    background-color: #fff;
}

.custom-select[multiple], .custom-select[size]:not([size="1"]) {
    height: auto;
    padding-right: 1rem;
    background-image: none;
}

.custom-select:disabled {
    color: #6c757d;
    background-color: #e9ecef;
}

.custom-select::-ms-expand {
    display: none;
}

.custom-select-sm {
    height: calc(1.5em + 1rem + 2px);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: 0.875rem;
}

.custom-select-lg {
    height: calc(1.5em + 2.3rem + 2px);
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
    padding-left: 1.65rem;
    font-size: 1.25rem;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .custom-control-label::before,
    .custom-file-label,
    .custom-select {
        -webkit-transition: none;
        transition: none;
    }
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html,
body {
    font-size: 13px;
    font-weight: 300;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    outline: none !important;
    border-radius: 4px;
    height: auto;
    line-height: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--multiple .select2-selection__arrow {
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border: 0;
    top: 50%;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    font-size: 0.85rem;
    left: auto;
    right: 0;
    display: inline-block;
    width: 1.9rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow:before,
.select2-container--default .select2-selection--multiple .select2-selection__arrow:before {
    content: "";
}

.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default .select2-selection--multiple .select2-selection__arrow b {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    position: relative;
    padding: 0.65rem 3rem 0.65rem 1rem;
    line-height: 1.5;
}

.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
    border: 0;
    position: absolute;
    top: 50%;
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
    font-size: 1.4rem;
    display: inline-block;
    left: auto;
    right: 1.85rem;
    margin-right: 0.4rem;
    margin-top: -1rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0.37rem 1rem;
    line-height: 1.5;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    padding: 0.05rem 0.4rem 0.05rem 0.4rem;
    font-size: 1rem;
    margin: 0.1rem 0.4rem 0.1rem 0;
    position: relative;
    float: left /*rtl:right*/;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
    font-size: 1.4rem;
    display: inline-block;
    line-height: 0;
    margin-right: 0.3rem;
    position: relative;
    top: 0.1rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field {
    font-weight: 300;
    margin: 0.25rem 0.25rem 0.25rem 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: none !important;
    border-radius: 4px;
}

.select2-container--default .select2-search--dropdown {
    padding: 15px 15px;
}

.select2-container--default .select2-results__option {
    padding: 5px 15px;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    cursor: not-allowed;
}

.select2-container--default .select2-results__option .select2-results__group {
    padding: 5px 15px;
    font-weight: 600;
}

.select2-container--default .select2-results__option .select2-results__option {
    padding: 5px 30px;
}

.select2-container .select2-search--inline .select2-search__field {
    margin: 0;
}

select.select2 {
    opacity: 0;
}

.select2 > select.form-control {
    opacity: 0;
}

.input-group > .select2-hidden-accessible:first-child + .select2-container > .selection .select2-selection--single {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group > .select2-hidden-accessible:first-child + .select2-container > .selection, .input-group > .select2-hidden-accessible:first-child + .select2-container > .selection.form-control {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:last-child > .selection .select2-selection--single {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:last-child > .selection .select2-selection, .input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:last-child > .selection .select2-selection.form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .select2-hidden-accessible:first-child + .select2-container + .input-group-text,
.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container + .input-group-text {
    border-left: 0;
}

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:not(:last-child) > .selection .select2-selection--single {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:not(:last-child) > .selection .select2-selection, .input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:not(:last-child) > .selection .select2-selection.form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border: 1px solid #e2e5ec;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder,
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #a7abc3;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single {
    border-color: #7096f6;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #6c7293;
}

.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
    color: #a7abc3;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    color: #6c7293;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    color: #a7abc3;
    background: #f7f8fa;
    border: 1px solid #ebedf2;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
    color: #a7abc3;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field::-moz-placeholder {
    color: #a7abc3;
    opacity: 1;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field:-ms-input-placeholder {
    color: #a7abc3;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field::-webkit-input-placeholder {
    color: #a7abc3;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #e2e5ec;
}

.select2-container--default .select2-dropdown {
    border: 1px solid #e2e5ec;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background: #f7f8fa;
    color: #a7abc3;
}

.select2-container--default .select2-results__option.select2-results__option--highlighted {
    background: #f7f8fa;
    color: #a7abc3;
}

.select2-container--default.select2-container--disabled {
    cursor: not-allowed;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple,
.select2-container--default.select2-container--disabled .select2-selection--single {
    cursor: not-allowed;
    background: #f7f8fa;
    border-color: #a7abc3;
}

.select2.select2--air .select2-container--default .select2-selection--single,
.select2.select2--air .select2-container--default .select2-selection--multiple {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
}

.select2.select2--solid .select2-container--default .select2-selection--multiple,
.select2.select2--solid .select2-container--default .select2-selection--single {
    background-color: #f7f8fa;
    border-color: #ebedf2;
}

.select2.select2--solid .select2-container--default .select2-selection--multiple .select2-selection__placeholder,
.select2.select2--solid .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #a7abc3;
}

.m-form.m-form--state .is-valid .select2-container--default .select2-selection--multiple,
.m-form.m-form--state .is-valid .select2-container--default .select2-selection--single {
    border-color: success;
}

.m-form.m-form--state .is-valid .select2-container--default.select2-container--focus .select2-selection--multiple,
.m-form.m-form--state .is-valid .select2-container--default.select2-container--focus .select2-selection--single, .m-form.m-form--state .is-valid .select2-container--default.select2-container--open .select2-selection--multiple,
.m-form.m-form--state .is-valid .select2-container--default.select2-container--open .select2-selection--single {
    border-color: success;
}

.m-form.m-form--state .is-invalid .select2-container--default .select2-selection--multiple,
.m-form.m-form--state .is-invalid .select2-container--default .select2-selection--single {
    border-color: danger;
}

.m-form.m-form--state .is-invalid .select2-container--default.select2-container--focus .select2-selection--multiple,
.m-form.m-form--state .is-invalid .select2-container--default.select2-container--focus .select2-selection--single, .m-form.m-form--state .is-invalid .select2-container--default.select2-container--open .select2-selection--multiple,
.m-form.m-form--state .is-invalid .select2-container--default.select2-container--open .select2-selection--single {
    border-color: danger;
}
