{% load i18n filters %}


<div class="dropdown">
    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">

        <a class="dropdown-item" href="javascript:;" onclick="create_modal__details_group({{ obj.id }})"
           data-toggle="modal" data-target="#modal_details_group">
            <i class="la la-search text-blue"></i>
            <span>{% trans 'details'|capfirst %}</span>
        </a>

        {% if request.user.user_category.category|validate_perm:"edit-group" %}
            <a class="dropdown-item" href="{% url 'edit_group' obj.id %}">
                <i class="la la-edit text-blue"></i>
                <span>{% trans 'edit'|capfirst %}</span>
            </a>
        {% endif %}

        {% if request.user.user_category.category|validate_perm:"delete-group" and not obj.is_deleted %}
            <a href="javascript:;" class="dropdown-item"
                  onclick="confirmation('{% trans 'Are you sure want to delete permanent this group?' %}', '{% url 'delete_group' obj.id %}')">
                 <i class="la la-trash text-red"></i>{% trans 'delete'|capfirst %}
            </a>
        {% endif %}

    </div>
</div>