<div class="card-footer py-4">

    <div class="text-center text-xl-left text-muted" style="display: inline-block; float: left; padding-top: 5px" title="Total de empresas registradas">
        <p>Total: {{ object_list.paginator.count }}</p>
    </div>

    <nav aria-label="..." style="display: inline-block; float: right">

        <div class="text-center text-xl-right text-muted" style="display: inline-block; margin-right: 15px; padding-top: 5px">
            <p>Página: {{ object_list.number }} de {{ object_list.paginator.num_pages }}</p>
        </div>

        <ul class="pagination justify-content-end mb-0" style="width: 30%; float: right">
            {% if object_list.has_previous %}
                <li class="page-item" title="Página anterior">
                    <a class="page-link" href="?pagina={{ object_list.previous_page_number }}" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Anterior</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled" title="Página anterior">
                    <a class="page-link" href="javascript:;" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Anterior</span>
                    </a>
                </li>
            {% endif %}
            <li class="page-item active" title="Página actual">
                <a class="page-link" href="?pagina={{ object_list.number }}">{{ object_list.number }}</a>
            </li>
            {% if object_list.has_next %}
                <li class="page-item" title="Página siguiente">
                    <a class="page-link" href="?pagina={{ object_list.next_page_number }}">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled" title="Página siguiente">
                    <a class="page-link" href="javascript:;">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>