{% load static %}

<!-- JS Files -->
<script src="{% static 'assets/js/plugins/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/argon-dashboard.min.js' %}"></script>
<script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script>

<!-- JS Notifications -->
<script src="{% static 'plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-switch/dist/js/bootstrap-switch.init.js' %}"></script>
<script src="{% static 'plugins/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-notify/bootstrap-notify.init.js' %}"></script>
<script src="{% static 'plugins/bootstrap-notify/bootstrap-notify-config.js' %}"></script>
