{% load static %}

<!--   Core   -->
<script src="{% static 'assets/js/plugins/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!--   Optional JS   -->
{#<script src="{% static 'assets/js/plugins/chart.js/dist/Chart.min.js' %}"></script>#}
{#<script src="{% static 'assets/js/plugins/chart.js/dist/Chart.extension.js' %}"></script>#}

<!--   Argon JS   -->
<script src="{% static 'assets/js/argon-dashboard.min.js' %}"></script>
<script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script>


<!-- JS Files -->
{#  start sweetalert  #}
<script src="{% static 'plugins/bootstrap-sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-sweetalert/ui-sweetalert.min.js' %}"></script>
<script src="{% static 'js/modals_confirmacion.js' %}"></script>
{#  end sweetalert  #}
{#  start bootstrap-notify  #}
<script src="{% static 'plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-switch/dist/js/bootstrap-switch.init.js' %}"></script>
<script src="{% static 'plugins/bootstrap-notify/bootstrap-notify.js' %}"></script>
<script src="{% static 'plugins/bootstrap-notify/bootstrap-notify.init.js' %}"></script>
<script src="{% static 'plugins/bootstrap-notify/bootstrap-notify-config.js' %}"></script>
{#  end bootstrap-notify  #}